.btn-send{
    padding: 12px 20px;
  font-weight: 600;
  border-radius: 30px;
  text-decoration: none;
  display: inline-block;
  background: black;
  color: #00bcd4;
  
  border: 2px solid #00bcd4;
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
}

.btn-send:hover {
  background: #00bcd4;
  color: black;
}