/* Color Variables */
:root {
  --primary-color: #6f42c1;
  --bg-color: #121212;
  --text-color: #f8f9fa;
}

/* Main Section */
.home-section {
  min-height: 100vh;
  padding-top: 80px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Name */
.hero-name {
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--primary-color);
}

/* Text */
.hero-text {
  max-width: 500px;
  color: #adb5bd;
}

/* Image Box */
.hero-img-box {
  display: inline-block;
  padding: 5px;
  border-radius: 50%;
  background: linear-gradient(45deg, var(--primary-color), #00bcd4);
  box-shadow: 0 0 20px rgba(111, 66, 193, 0.5);
}

/* Image */
.hero-img {
  width: 100%;
  max-width: 280px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #000;
}



.home-social {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* for icon */
.social-icon {
  font-size: 1.6rem;
  color: white;
  transition: all 0.3s ease;
}

.social-icon:hover {
  transform: translateY(-4px);
}

/* Brand Colors */
.github:hover {
  color: #ffffff;
}

.linkedin:hover {
  color: #0A66C2;
}

.instagram:hover {
  color: #E1306C;
}



/* Common Button Style */
.btn-custom {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px;
  text-decoration: none;
  display: inline-block;
  background: black;
  color: #00bcd4;
  /* Violet */
  border: 2px solid #00bcd4;
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
}


/* Hover Effect */
.btn-custom:hover {
  background: #00bcd4;
  color: black;
  box-shadow: 0 0 5px #00bcd4;
  transform: translateY(-3px);
}


.btn-contact {
  background-color: #00bcd4;
  color: #000;
  border-color: #00bcd4;
}

.btn-contact:hover {
  background: black;
  color: #00bcd4;
  box-shadow: 0 0 8px #00bcd4;
  transform: translateY(-3px);
}

@media (max-width: 768px) {
  .home-section {
    width: 100%;
    padding: 100px 15px 50px;
    text-align: center;
  }

  .hero-name {
    font-size: 2.5rem;
  }

  .hero-text {
    max-width: 100%;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-img-box {
    margin-bottom: 30px;
    max-width: 240px;
  }

  .home-social {
    justify-content: center;
    margin-bottom: 20px;
  }

  .home-action-buttons {
    flex-direction: column;
    align-items: center;
    gap: 1rem !important;
  }

  .btn-custom {
    width: 250px;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .hero-name {
    font-size: 2rem;
  }

  .hero-img-box {
    max-width: 200px;
  }

  .btn-custom {
    width: 220px;
    padding: 10px 15px;
    font-size: 14px;
  }
}