.resume-section {
  background: #111;
  color: white;
  text-align: center;
  padding: 80px 20px;
}

.resume-text {
  color: #aaa;
  font-size: 1.1rem;
  margin-bottom: 30px;
}

/* Unique Resume Button */
.resume-btn {
   padding: 16px 26px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px;
  text-decoration: none;
  display: inline-block;
  background: black;
  color: #00bcd4;
  /* Violet */
  border: 2px solid #00bcd4;
  transition: all 0.3s ease;
  letter-spacing: 0.5px;

  transition: all 0.4s ease;
}

.resume-btn:hover {
  background: #00bcd4;
  color: black;
  box-shadow: 0 0 5px #00bcd4;
  transform: translateY(-3px);
}
